
<section>
    <section *ngIf="isLoading && !errorMessage">
    Retrieving activities...
    </section>
   
        <!-- this is the new syntax for ng-repeat -->
        <ul>
        <li  *ngFor="let activity of activities">
        <a href="#" [routerLink]="['/activities',activity._id]">
             
                  {{activity.name }}
                  {{activity.venue}}
                  {{activity._id}}
                  
                  
         </a>
             
        </li>
        </ul>
       
   
  <section *ngIf="errorMessage">
      {{errorMessage}}
      </section>
  </section>







