<p>
  <button md-button a routerLink="/activities" routerLinkActive="active"> Create a Bubblbooking from activity suggestions </button>	
</p>
<!--  <div class="row" *ngFor="let activity of activities">
    <div class="card card-block">
      <h4 class="card-title">{{ activity.name }}</h4>
      <p class="card-text">{{activity.venue}}</p>
      <p class="card-text">{{activity.price}}</p>
      <p class="card-text">{{activity.date}}</p>
      <p class="card-text">{{activity.time}}</p>
      <p class="card-text">{{activity.category}}</p>
    </div>  
</div> -->

<h4>Sport</h4>	
<ng-container *ngFor="let activity of activities">
	<md-grid-list cols="10" rowHeight="100px" *ngIf="activity.category == 'Sport'">
		<md-grid-tile >
		{{ activity.name }}</md-grid-tile>
	</md-grid-list> 
</ng-container>

<h4>Food</h4>	
<ng-container *ngFor="let activity of activities">
	<md-grid-list cols="10" rowHeight="100px" *ngIf="activity.category == 'Food'">
		<md-grid-tile >
		{{ activity.name }}</md-grid-tile>
	</md-grid-list> 
</ng-container>


<h4>Movie</h4>	
<ng-container *ngFor="let activity of activities">
	<md-grid-list cols="10" rowHeight="100px" *ngIf="activity.category == 'Movie'">
		<md-grid-tile >
		{{ activity.name }}</md-grid-tile>
	</md-grid-list> 
</ng-container>

<h4>Artsy</h4>	
<ng-container *ngFor="let activity of activities">
	<md-grid-list cols="10" rowHeight="100px" *ngIf="activity.category == 'Artsy'">
		<md-grid-tile md-colspan="1">
		{{ activity.name }}</md-grid-tile>
	</md-grid-list> 
</ng-container>

<h4>Gig</h4>	
<ng-container *ngFor="let activity of activities">
	<md-grid-list cols="10" rowHeight="100px" *ngIf="activity.category == 'Gig'">
		<md-grid-tile md-colspan="1">
		{{ activity.name }}</md-grid-tile>
	</md-grid-list> 
</ng-container>
<h4>Drinks</h4>	
<ng-container *ngFor="let activity of activities">
	<md-grid-list cols="10" rowHeight="100px" md-colspan="1" *ngIf="activity.category == 'Drinks'" >
		<md-grid-tile md-colspan="1"  >
		{{ activity.name }}</md-grid-tile>
	</md-grid-list> 
<!-- </ng-container> -->
<h4>All</h4>	
<ng-container *ngFor="let activity of activities">
	<md-grid-list cols="10" rowHeight="100px" >
		<md-grid-tile cols="1" >
		{{ activity.name }}</md-grid-tile>
		<img src="{{activity.imageURL}}"/>
	</md-grid-list> 
<!-- </ng-container> -->