

<form #f=ngForm novalidate>Tick your preferred dates:

	<md-list *ngFor="let date of this.activity.dateOptions">

		<md-checkbox [(ngModel)]="date.isChecked" type="checkbox" isChecked="false" name="dateOptions" value="date.theTime">{{date.theDate | date}} at {{date.theTime}} </md-checkbox>
	<!-- 	<div *ngFor="let voter of date.voterIds">
		{{date.theDate | date}} at {{date.theTime}}	Going on this date {{voter.voterName}}
		</div> -->
	</md-list>
	
	<button md-button type="submit" (click)="saveVote()">Save my choices</button>
</form>

<!-- {{f.value | json}} -->



 <!--  -->