<md-toolbar class="tool" id="tool" color="primary"> 
	<button class="app-icon-button" [mdMenuTriggerFor]="menu">
      <i class="material-icons app-toolbar-menu" color="accent">menu</i>
    </button>
	<md-menu #menu="mdMenu">
	  <button md-menu-item a routerLink="/home" routerLinkActive="active">   
	    <span>Home</span>
	  </button>
	  <button md-menu-item a routerLink="/create" routerLinkActive="active">   
	    <span>Create</span>
	  </button>
	    <button md-menu-item a routerLink="/activities" routerLinkActive="active">   
	    <span>Suggestions</span>
	  </button>
	  <button md-menu-item disabled>   
	    <span>My Bubblbookings</span>
	  </button>
	  <button md-menu-item disabled>   
	    <span>My Acccount</span>
	  </button>

	  <button id="menu-login">
	  	<app-login></app-login>	 
	  </button>	 
	</md-menu>

 	 {{title }} &nbsp;
 <!-- 	 <app-search></app-search> -->
</md-toolbar>