<md-toolbar color="primary">
  <button class="app-icon-button" [mdMenuTriggerFor]="menu">
      <i class="material-icons app-toolbar-menu" color="accent">menu</i>
    </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item a routerLink="/home" routerLinkActive="active">   
      <span>Home</span>
    </button>
    <button md-menu-item disabled>   
      <span>My Bubblbookings</span>
    </button>
    <button md-menu-item disabled>   
      <span>My Acccount</span>
    </button>
    <button id="menu-login">
      <app-login></app-login>  
    </button>  
  </md-menu>
  <button md-button (click)="gotoActivitiesList()">
      <i class="material-icons" color="accent">arrow_back</i>
  </button>
  {{auth.userProfile.email}}
    <span class="fillSpace"></span> <!-- fill space between buttons so they are either side of the toolbar -->
  <button md-button disabled> 
     <i class="material-icons">done</i>    <!-- should this save?? -->
  </button>     
</md-toolbar>

<!-- <div>
<form #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
  <input required type="text" name="testInput" [(ngModel)]="testInput" #testInputRef="ngModel" minlength="3">  
  {{testInput}}
  <div *ngIf="testInputRef.errors?.required">This is required</div>
  <div *ngIf="testInputRef.errors?.minlength">Min length must be 3</div>
{{formRef.value | json }}
{{formRef.valid | json }}
<button type="submit">submit</button>
</form>
</div> -->


<div class="main">
  <md-card>
  <md-card-header>
   <!--   show user avatar if available if not use generic avatar  -->   
    <div md-card-avatar *ngIf="auth.authenticated() && auth.userProfile; else generic">
   <img md-card-avatar src="{{auth.userProfile.picture}}" alt="user profile picture" >
   </div>
   <ng-template #generic>
     <div md-card-avatar class="opacity_54">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" 
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="-287 289 24 24"  xml:space="preserve">
            <style type="text/css">
              .st0{fill:none;}
            </style>
            <path d="M-278,300.8c-0.7,0-1.3,0.6-1.3,1.3s0.6,1.3,1.3,1.3s1.3-0.6,1.3-1.3S-277.3,300.8-278,300.8z M-272,300.8
              c-0.7,0-1.3,0.6-1.3,1.3s0.6,1.3,1.3,1.3s1.3-0.6,1.3-1.3S-271.3,300.8-272,300.8z M-275,291c-5.5,0-10,4.5-10,10s4.5,10,10,10
              s10-4.5,10-10S-269.5,291-275,291z M-275,309c-4.4,0-8-3.6-8-8c0-0.3,0-0.6,0-0.9c2.4-1.1,4.2-3,5.2-5.4c1.8,2.6,4.8,4.2,8.2,4.2
              c0.8,0,1.5-0.1,2.3-0.3c0.2,0.7,0.3,1.5,0.3,2.3C-267,305.4-270.6,309-275,309z"/>
            <path class="st0" d="M-287,289h24v24h-24V289z"/>
        </svg>
      </div> 
    </ng-template>
  </md-card-header>

     <div *ngIf="pics.imageURL !== undefined; else placeholder">
      <img md-card-image class="smImg" src={{pics.imageURL}} alt={{pics.imageURL}}>
    </div>
    <ng-template #placeholder>
    <img src="https://s3-eu-west-1.amazonaws.com/bubblbookimages/placeholder.png" alt="placeholder image"/> 
    </ng-template>
  <md-card-content>

   
  Add a picture of your event..    
            <input md-input #picUpload type="file" (change)="pics.fileEvent($event)" accept="image/*">    
    <form [formGroup]="activityForm" (ngSubmit)="onSubmit()" novalidate>
        
      <!--name-->
      <div class="form-group">
        <md-input-container>
            <label>Name:</label>
            <input mdInput type="text" class="form-control" formControlName="name">
      </md-input-container>
      </div>
     

      <!--description-->
    <div class="form-group">
      <md-input-container>
        <label>Description:</label>
        <input mdInput type="text" class="form-control" formControlName="description">
      </md-input-container>
    </div>
      

      <!--venue-->
      <div class="form-group">
      <md-input-container>
        <label>venue: </label>
        <input mdInput type="text" class="form-control" formControlName="venue">
       </md-input-container>
      </div>


       <!--image-->
    <!--   <div class="form-group">
      <md-input-container>
        <label>image </label>
         <input mdInput type="text" class="form-control" formControlName="imageURL">
      </md-input-container>
      </div> -->
    

      <!--min-->
    <div class="form-group">
      <md-input-container>
        <label >min </label>
        <input mdInput type="number" class="form-control" formControlName="min">
      </md-input-container>
    </div>
      

      <!--max-->
      <div class="form-group">
      <md-input-container>
        <label>max </label>
        <input mdInput type="number" class="form-control" formControlName="max">
      </md-input-container>
      </div>
     

        <!--price-->
        <md-card>
        <div formArrayName="prices">
          <div *ngFor="let price of activityForm.controls.prices.controls; let i=index">
            
              <span>Price {{i + 1}}</span>
              
            <div [formGroupName]="i">
              <div class="form-group">
                <label>qty</label>
                <input mdInputtype="number" class="form-control" formControlName="qty">
              </div>
              <div class="form-group">
                <label>Price per person</label>
                <input mdInput type="text" class="form-control" formControlName="perPerson">
              </div>
            </div>
          </div>
        </div>

      
          <a (click)="addPrice()">
            Add another price +
          </a>
        </md-card>
          <br/>
<!--datestimes-->
<md-card>
      Dates
 
    <div class="">
     
  <a (click)="addDate()" style="cursor: default">
    Add Date +
  </a>
</div>


<div formArrayName="dates">
  <div *ngFor="let date of activityForm.controls.dates.controls; let i=index"> 
      <div>
          <span>Dates {{i + 1}}</span>
      </div>

      <div [formGroupName]="i">
          <div>
              <label>Date</label>
              <input type="text" formControlName="date">
          </div>

          <div formArrayName="times">
            <div *ngFor="let time of activityForm.controls.dates.controls[i].controls.times.controls; let t=index">
                <div class="">
                  <a (click)="addTime(i,t)">
                    Add Time +
                  </a>
                </div>

                <div>
                    <span>Times{{t + 1}}</span>
                </div>

                <div [formGroupName]="t">
                    
                    <div>
                        <label>Times</label>
                        <input type="text" formControlName="time">
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
   
</md-card>         
       
       <!--category-->
      <div class="form-group">
      
        <label>category: </label>
        <md-select  formControlName="category" (change)="onSelect($event.value)">
                  <md-option *ngFor="let oneCategory of allCategories" [value]="oneCategory.category">
                    {{oneCategory.category}}
                  </md-option>
        </md-select>                  
            
      
      </div>

      <!--subCategory-->
      <div class="form-group">
      
        <label >subCategory: </label>
        <md-select formControlName="subCategory">
                  <md-option *ngFor="let oneSubCategory of subCategoryByCategory" [value]="oneSubCategory.subCategory">
                    {{oneSubCategory.subCategory}}
                  </md-option>
        </md-select>         
       
    </div>
      

     <!--public-->
     <div class="form-group">
       <!--<md-input-container>-->
        <label>public:</label>
        <md-checkbox formControlName="publicActivity" [checked]="true"></md-checkbox>
              <input mdInput type="text" class="form-control" formControlName="publicActivity">
       <!--</md-input-container>-->
     </div>
    
        
       <button md-button (click)="previewEvent()">Preview Event</button>
       <br>
       <button md-button type="submit" [disabled]="activityForm.pristine">Save</button> &nbsp;
       
    </form>
 </md-card-content>
</md-card>

<p>Form value: {{ activityForm.value | json }}</p>
<p>Form status: {{ activityForm.status | json }}</p>

  <button md-button (click)="gotoActivitiesList()">Back to activities list</button>
</div>  
