<md-toolbar color="primary">
	<button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu" color="accent">menu</i>
    </button>
 	Create Bubblbooking 
</md-toolbar>

<div class="main centre">
	<button md-button a routerLink="/activities" routerLinkActive="activities"> 
	<md-card>
		<img md-card-image src="../assets/suggest_card_crop.jpg"/>
		<md-card-footer class="opacity_68">
			Suggested Activities 
		</md-card-footer>
	</md-card>
	</button>	

	<button md-button a routerLink="/create" routerLinkActive="create">
	<md-card>
		<img md-card-image src="../assets/thinking_woman.jpg"/>
		<md-card-footer class="opacity_68">
			 Create your own Bubblbooking 
		</md-card-footer>
	</md-card>
	</button>
</div>

<router-outlet></router-outlet>