<md-toolbar color="primary">
	<button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu" color="accent">menu</i>
    </button>
 	Create Bubblbooking 
</md-toolbar>
<md-card>
	<img md-card-image src="../assets/activitiesCollage.jpg"/>
	<md-card-actions>
		<button md-button a routerLink="/activities" routerLinkActive="activities"> Create a Bubblbooking from activity suggestions </button>	
	</md-card-actions>
</md-card>



<md-card>
	<img md-card-image src="../assets/thinking-lady.jpg"/>
	<md-card-actions>
		<button md-button a routerLink="/create" routerLinkActive="create"> Create your own Bubblbooking </button>
	</md-card-actions>
</md-card>


<router-outlet></router-outlet>