/* You can add global styles to this file, and also import other style files */
html { font-family: 'Roboto', sans-serif; }
.displayNone {
  display:none !important;
}
.verticalAlignMiddle {
  vertical-align:middle !important;
}
.app-toolbar-menu {
  padding: 0 14px 0 14px;
  }

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

#menu-login {
  outline:0;
  width:100%;
  border:none;
  background:transparent;
  text-align:left;
  padding:0;

}
#menu-login .loginBtn {
  font-size:16px;
  text-align: left;
  width:100%;
}

.opacity_87 {
  color: rgba(0,0,0, 0.87);
}

.opacity_68 {
  color: rgba(0,0,0, 0.67);
}

.opacity_54 {
  color: rgba(0,0,0, 0.54);
}

.sixteenPx {
  font-size:16px;
}

.mat-grid-tile-footer {
  font-size: 12px !important;
}

.mat-dialog-container {
  text-align:center;
}
.centre {
  text-align:center;
 }
.smBtn {
  font-size:12px !important;
}
.fillSpace {
  flex: 1 1 auto;
}

.width100 { 
  width:100%;
}

@media all and (min-width:1024px) {
  .main {
    padding:3em 0;
    margin:auto;
   }

  .smallScreen {
    display:none;
  }
  .smImg {
    width: calc(50% + 48px) !important;
  }
  .rightText {
     width: calc(40% + 48px)!important;
    float: right;
  }
}

@media all and (max-width:1024px) {
  .largeScreen {
    display:none;
  }
}