/* You can add global styles to this file, and also import other style files */
.app-toolbar-menu {
  padding: 0 14px 0 14px;
  }

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.opacity_87 {
  color: rgba(0,0,0, 0.87);
}

.opacity_68 {
  color: rgba(0,0,0, 0.67);
}

.opacity_54 {
  color: rgba(0,0,0, 0.54);
}

@media all and (min-width:960px) {
.main {
  max-width: 900px;
  margin:auto;

}
}