@import '~@angular/material/core/theming/all-theme';
@include md-core();
$primary: md-palette($md-teal, 500);
$accent:  md-palette($md-teal, 900);
$warn:    md-palette($md-orange, 800);
$theme: md-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);
